@media( max-width:700px){
    .navbar .nav-box,
    .navbar .nav-cart,
    .nav-button,
    .items,
    .text-content,
    .footer{
        display: none;
    }

    .nav-search{
        width: 150px;
    }

    .hero-img img{
        width: 350px;
    }

    .hero-items img{
        height: 50px;
        width: 50px;
    }

    .hero-items1 img{
        height: 50px;
        width: 50px;
        
    }

    .hero-main2{
        height: 450px;
    }

    .hero-items1 img{
        height: 50px;
        width: 50px;
        
    }

    .hero-main3{
        height: 600px;
    }

    .hero-section{
        height: 1900px;
    }

    .footer-panel2{
        padding: 50px;
    }
    
    .footer-panel{
        height: 300px;
    }

    .footer-content3{
        padding-right: 50px;
    }

    .footer-content3 span{
        height: 10px;
        width: 10px;
        margin-right: 20px;
    }

    .footer-panel3{
        height: 150px;
    }
}
